


.searchBarTool {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    float: right;
        margin-right: 40px;
        color: white;


}

.searchBarTool label {
    font-size: 1.4rem;
    display: block;
    padding: 10px;
    margin: 5px;
}


.bubble { 
    background-color: #242424;
    border-radius: 5%;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.bubble:hover {
    box-shadow: 0 0 2px 2px #1db954;
}

input {
    text-align: center;
}

.results {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    color: white;
}


.BoxedDiv {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #242424;
    border: 2px solid black;
    border-radius: 2%;
    padding: 50px;
    overflow: auto;

}

.BoxedDiv:hover {
    box-shadow: 0 0 2px 2px #1db954;
}

.songDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
    border: 2px solid black;
    margin: 2px 5px;
    padding: 2px;
    font-size: 0.8em;
}

.songDisplay .title_artist {
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: white;
}

.songDisplay:hover {
    box-shadow: 0 0 2px 2px #1db954;
}


