.playlist {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    background-color: #242424;
    border: 2px solid black;
    border-radius: 5%;
    float: left;

}

.playlist li {
    display: flex;
    padding: 20px;
}


.playlist label {
    margin: 5px;
    padding: 5px;
}

input {
    text-align: center;
}




