.playlist {
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    margin: 10px;
    text-align: center;
}

.playlist label {
    margin: 5px;
    padding: 5px;
}

input {
    text-align: center;
}

.bubble { 
    background-color: #242424;
    border-radius: 5%;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}